<div id="wcms-cell-<%= cell.id %>" class="wcms-live col-<%= cell.breakpoint %>-<%= cell.width>12 ? 12 : cell.width %> <%= cell.offset>0 ? "col-#{cell.breakpoint}-offset-#{cell.offset}" : '' -%>">
	<%= render :partial => "shared/#{cell.gauge}", :locals => {row: row, cell: cell} -%>
</div>
