<h5><i class="fa fa-fw fa-image"></i> Header Image</h5>
<hr>
<%= form_for([:admin, @page], html: { multipart: true, class: "wcms-card-form", role: 'form' }, :remote => true) do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <label for="page_headline" class="show-for-sr">Subheading Text</label>
      <%= f.text_field :headline, :class => "form-control form-control-sm", :placeholder => "Subheading Text" %>
    </div>
  </div> 
  <%= f.fields_for :setting, @page.setting do |b| -%>    
    <div class="row">
      <div class="medium-12 columns">
        <label class="button" for="page_setting_attributes_image">Upload Image</label>
        <%= b.file_field :image, :class => "form-control show-for-sr" %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= b.check_box(:overlap, {}, 1, 0) %> <label class="small checkbox-inline">Overlap Header & Navigation</label>
      </div>  
    </div>
  <%- end -%>  
  <div class="row wcms-card-action-group">
    <div class="medium-12 columns">
      <%= f.submit "Save", class: "button small" %>
      <%= link_to "Cancel", "#", class: "button warning small wcms-cell-cancel-btn", data: {page: @page.id} -%>
    </div>
  </div>
<% end %>