<div id="wcms-header" class="wcms-header wcms-cell" data-page="<%= @page.id -%>">
	<%- if @user.pages.blank? -%>
		<h3 class="text-xs-center">Hey, your site is empty! Click <%= link_to "Pages", admin_pages_path, :remote => true  -%> in the toolbar to your left to get started.</h3>
	<%- else -%>
		<h1 class="text-xs-center" id="wcms-page-label"><%= @page.label -%></h1>
	<%- end -%>
</div>
<%= render :partial => "admin/pages/nav_vertical" if @page.setting.nav_location == 4 -%>
<div class="col-md-<%= @page.setting.nav_location >= 4 ? '10' : '12' %>" id="wcms-work-area">
	<div class="row" id="wcms-navigation-row">
		<div class="col-md-12 navigation-zone" id="wcms-navigation-row-inner">
			<%= render :partial => "admin/pages/nav_horizontal" if @page.setting.nav_location < 4 -%>
		</div>
	</div>
	<%- @page.rows.each_with_index do |row, index| -%>
		<%- unless row.new_record? -%>
			<%= render :partial => "admin/pages/row", :locals => {:index => index, :row => row} -%>
		<%- end -%>
	<%- end -%>
	<div class="row">
		<div class="col-md-12 footer-zone zone" id="footer-row"></div>
	</div>
</div>
<%= render :partial => "admin/pages/nav_vertical" if @page.setting.nav_location == 5 -%>