<div id="wcms-master-toolbar" class="wcms-toolbar wcms-master-toolbar wcms-toolbar-vertical p-t-4">
	<ul class="nav" id="wcms-master-toolbar-vertical">
		<li class="nav-item"><%= link_to "<i class='#{Page::ICON}'></i>".html_safe, admin_pages_path, :title => "Pages", :id => "wcms-toggle-pages", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-archive'></i>".html_safe, admin_assets_path, :title => "Assets", :id => "wcms-toggle-assets", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='#{HelpTopic::ICON}'></i>".html_safe, admin_help_index_path, :title => "Help", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to "<i class='#{Row::ICON}'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link wcms-secondary-link", :title => "Add Row", :id => "wcms-add-row" -%></li>
		<%= render :partial => 'admin/pages/toolbar_vertical_sort', :locals => {:p => @page} -%>
		<%= render :partial => 'admin/pages/toolbar_vertical_finished', :locals => {:p => @page} -%>
		<%= render :partial => 'admin/pages/toolbar_vertical_duplicate', :locals => {:p => @page} -%>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to("<i class='#{Page::HOME}'></i>".html_safe, admin_user_path(@user), :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link") -%></li>
		<%- if 1==2 -%><li class="nav-item"><%= link_to("<i class='#{User::ICON}'></i>".html_safe, edit_admin_user_path(@user), :remote => true, :id => "wcms-toggle-account", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link") -%></li><%- end -%>
		<li class="nav-item"><%= link_to "<i class='#{User::SETTINGS}'></i>".html_safe, admin_settings_path, :title => "Settings", :id => "wcms-toggle-settings", :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to("<i class='fa fa-fw fa-sign-out'></i>".html_safe, user_session_path, :method => :delete, :class => "nav-link wcms-sidebar-link wcms-master-toolbar-link") -%></li>
	</ul>
</div>