<div class="callout card">
	<h6 class="callout-header"><i class="fa fa-fw fa-gears"></i> Card Settings</h6>
	<div class="callout-block">
		<%= form_for [:admin, @cell], html: { class: "wcms-card-form" }, :remote => true do |f| %>
			<div class="row">
				<div class="medium-12 columns">
					<label for="cell_width" class="show-for-sr">Width</label>
					<%= f.select :width, options_for_select(Cell::WIDTH, selected: @cell.width), {}, {:class => "form-control form-control-sm"} %>
					<p class="help-text">Width of this card; 12 is full width</p>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label for="cell_offset" class="show-for-sr">Offset</label>
					<%= f.select :offset, options_for_select(Cell::OFFSET, selected: @cell.offset), {}, {:class => "form-control form-control-sm"} %>
					<p class="help-text">Offsets are added to the left</p>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label for="cell_breakpoint" class="show-for-sr">Breakpoint</label>
					<%= f.select :breakpoint, options_for_select(Cell::BREAKPOINTS, selected: @cell.breakpoint), {}, {:class => "form-control form-control-sm"} %>
					<p class="help-text">Forces cards to stack vertically on small devices</p>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label for="cell_breakpoint" class="show-for-sr">Variants</label>
					<%= f.select :variant, options_for_select(Cell::VARIANTS, selected: @cell.variant), {}, {:class => "form-control form-control-sm"} %>
					<p class="help-text">Alternate Card Versions</p>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label for="cell_background_color" class="show-for-sr" for="cell_background_color">Background Color</label>
					<%= f.text_field :background_color, :class => "form-control form-control-xs", :readonly => true -%>
					<script>
						$("#cell_background_color").minicolors({opacity: true, format: 'rgb', position: 'top right'});
					</script>
				</div>
			</div>
			<%- unless @cell.image.blank? -%>
				<div class="row">
					<div class="medium-12 columns">
						<label for="setting_border" class="show-for-sr">Overlay Text</label>
						<label class="small checkbox-inline">
							<%= f.check_box(:overlay, {}, 1, 0) %> Overlay Text on Image
						</label>
					</div>
				</div>      
			<%- end -%>
			<div class="row">
				<div class="medium-12 columns">
					<label for="setting_show_headline" class="show-for-sr"><%= @cell.image.blank? ? 'Headline' : 'Caption' -%>?</label>
					<label class="small checkbox-inline">
						<%= f.check_box(:show_headline, {}, 1, 0) %> Show <%= @cell.image.blank? ? 'Headline' : 'Caption' -%>
					</label>
				</div>
			</div>
			<div class="row wcms-card-action-group"> 
				<div class="medium-12 columns">
					<div class="float-left">
						<%= f.submit "Save", class: "button small wcms-form-btn" %>
						<%= link_to "Cancel", "#", class: "button warning small wcms-cell-cancel-btn wcms-form-btn", data: {row: @row.id, cell: @cell.id} -%>
					</div>
					<div class="float-right">
						<%= link_to "<i class='fa fa-fw fa-clone'></i>".html_safe, admin_duplicate_cell_path(@cell.id), title: "Duplicate", class: "secondary badge wcms-cell-duplicate", method: :post, data: {page: @page.id, row: @row.id, cell: @cell.id}, :remote => true -%>					
						<%= link_to "<i class='fa fa-fw fa-trash'></i>".html_safe, admin_cell_path(@cell.id), title: "Delete", class: "alert badge wcms-cell-delete", method: :delete, data: {page: @page.id, row: @row.id, cell: @cell.id}, :remote => true -%>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>