<!DOCTYPE html>
<html lang="en">
	<head>
		<title id="wcms-tab-title">
			<%- if @user.nil? || @user.domain.nil? || @user.domain.label.blank? -%>
				<%= cms_name -%>
			<%- else -%>
				<%= @user.domain.label -%>
			<%- end -%>
			<%- unless @page.nil? -%>
				: <%= @page.title -%>
			<%- end -%>
		</title>
		<%= favicon_link_tag "/favicon.ico" %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= cdn_ckeditor -%>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
		<%= cdn_js_framework(@user.setting.framework) -%>
		<%= cdn_jquery_flip -%>
		
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true -%>
		<%= wcms_css(@user.setting.framework) -%>
		<%= cdn_css_framework(@user.setting.framework) -%>
		<!-- MOTION UI -->
		<%= cdn_css_motion_ui -%>		
		<!-- DONE WITH MOTION UI -->		
		<%= cdn_css_font_awesome -%>

		<style>
			.wcms-back .wcms-form-cell, #wcms-master-menu a {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
			}
		</style>

	  <%= csrf_meta_tags -%>
	</head>
	

	<%- if @user.new_record? -%>
		<body class="wcms-navbar-fixed-top">
	<%- elsif @user && @page.nil? -%>
		<body class="wcms-flex <%= @user.setting.background_color -%> <%= @user.setting.nav_class(true) -%>">
	<%- else -%>
		<body class="wcms-flex <%= @page.setting.background_class -%> <%= @page.setting.nav_class(true) -%> <%= @page.setting.overlap_style -%>">
	<%- end -%>
		<%= yield %>
		<div id="wcms-custom-font" style="display: none;">
			<%= render(:partial => "admin/pages/font") -%>
		</div>

    <script>
      $(document).foundation();
    </script>
	</body>
</html>