<div class="<%= cell.grid_style %> wcms-work-cell wcms-cell" id="wcms-cell-<%= cell.id %>" data-width="<%= cell.width %>" data-offset="<%= cell.offset %>" data-row="<%= row.id -%>" data-cell="<%= cell.id -%>" data-toggle="popover">
	<div class="wcms-flip" id="wcms-flip-<%= cell.id %>">
		<div class="wcms-card" id="wcms-flip-card-<%= cell.id %>">
			<div class="wcms-face wcms-front" data-gauge="<%= cell.gauge -%>">
				<%= render :partial => "shared/#{cell.gauge}", :locals => {row: row, cell: cell} -%>
				<%= render :partial => "shared/tools", :locals => {row: row, cell: cell} -%>
			</div>
			<div class="wcms-face wcms-back">
				<div class="wcms-form-cell" id="wcms-cell-form-<%= cell.id %>-x"></div>
			</div>
		</div>
	</div>
</div>
