<div class="<%= cell.variant_class -%> <%= cell.background_contrast_class -%>" style="<%= cell.background_color_style -%>">
  <img class="card-img-top img-fluid squared" src="<%= cell.image_url.to_s -%>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= cell.headline -%></h4>
  </div>  
  <%- if cell.has_uri? -%>
  	<%= link_to cell.headline, cell.embed_code, target: "_blank" -%>
  <%- else -%>
  	<div class="embed-responsive embed-responsive-16by9 flex-video"><%= cell.embed_code.html_safe -%></div>
  <%- end -%>
</div>