<div class="wcms-header wcms-live" id="wcms-header" data-page="<%= page.id -%>">
	<div class="card">
		<%- unless page.setting.image.blank? -%>
			<%= cl_image_tag page.setting.image_url.to_s, :class => "card-img img-fluid center-block img-#{page.setting.shape}", :id => "wcms-header-img" -%>
			<div class="card-img-overlay" style="<%= page.setting.text_color_style -%>">
		<%- else -%>
			<div class="card-block">
		<%- end -%>
			<div style="<%= page.setting.title_background_style -%>">
				<h1 class="text-center display-4" id="wcms-page-label"><%= page.label -%></h1>
				<%- unless page.headline.blank? -%>
					<p class="lead text-center"><%= page.headline -%></p>
				<%- end -%>
			</div>
		</div>
	</div>
	<%= render :partial => "nav_horizontal" if page.setting.nav_location < 5 && page.setting.overlap? -%>
</div>