<div id="wcms-content-wrapper">
	<div class="<%= @page.setting.container_type -%> wcms-full-height-container">
		<%= render :partial => "header", :locals => {:page => @page} -%>
		<div class="row wcms-master-row">
			<%= render :partial => "nav_vertical" if @page.setting.nav_location == 4 -%>
			<div class="medium-<%= @page.setting.nav_location >= 4 ? '10' : '12' %>" id="wcms-work-area">
				<div class="row" id="wcms-navigation-row">
					<div class="medium-12 navigation-zone" id="wcms-navigation-row-inner">
						<%= render :partial => "nav_horizontal" if @page.setting.nav_location < 4 && !@page.setting.overlap? -%>
					</div>
				</div>
				<%- @page.rows.each_with_index do |row, index| -%>
					<%- unless row.new_record? -%>
						<%= render :partial => "row", :locals => {:index => index, :row => row} -%>
					<%- end -%>
				<%- end -%>
				<div class="row hidden">
					<div class="medium-12 footer-zone zone" id="footer-row"></div>
				</div>
			</div>
			<%= render :partial => "nav_vertical" if @page.setting.nav_location == 5 -%>
		</div>
	</div>
</div>