<div class="top-bar">

	<div class="top-bar-right">
		<ul class="menu">
			<li><%= link_to " <i class='fa fa-sign-in'></i> Sign In ".html_safe, new_admin_user_path, :class => "button" -%></li>
			<li><%= link_to " <i class='fa fa-plus'></i> Join ".html_safe, new_admin_user_path, :class => "button warning" -%></li>
		</ul>
	</div>
	<div class="top-bar-left">
		<ul class="menu">
			<li><%= cms_name -%></li>
			<li><%= link_to "About", "#" -%></li>
			<li><%= link_to "Pricing", "#" -%></li>
			<li><%= link_to "Portfolio", "#" -%></li>
		</ul>
	</div>
</div>
