<div class="<%= cell.variant_class -%> <%= cell.background_contrast_class -%>" style="<%= cell.background_color_style -%>">
	<div class="card-block">
		<h4 class="card-title"><%= cell.headline -%></h4>
		<div class='card-text'>
			<%= cell.body.html_safe -%>
		</div>
	</div>
</div>