<div id="wcms-nav-<%= @page.id %>" class="col-md-2">
	<ul class="nav nav-pills nav-stacked <%= @page.setting.nav_weight_class -%>">
		<%- @user.published_nav_pages.each do |p| -%>
			<%- if p.published_children.count > 0 -%>
				<li id="wcms-page-<%= p.id %>" class="nav-item dropdown wcms-menu-link">
					<%= link_to p.label_with_status.html_safe, public_path(p.permalink_or_id), :class => "nav-link dropdown-toggle", :data => {:toggle => "dropdown"}, :role => "button", "aria-expanded" => "false", :style => "#{@page.setting.nav_color_style}" -%>
					<div class="dropdown-menu" role="menu">
						<%- p.published_children.each do |c| -%>
							<%= link_to c.label_with_status.html_safe, public_path(c.permalink_or_id), :class => "dropdown-item #{'active' if c.id == @page.id}", :id => "wcms-page-#{c.id}", :style => "#{@page.setting.nav_color_style if c.id == @page.id}" -%>
						<%- end -%>
					</div>
				</li>
			<%- else -%>
				<li class="nav-item wcms-menu-link" id="wcms-page-<%= p.id %>" >
					<%= link_to p.label_with_status.html_safe, public_path(p.permalink_or_id), :class => "nav-link #{'active' if p.id == @page.id}", :style => "#{@page.setting.nav_color_style}" -%>
				</li>
			<%- end -%>
		<%- end -%>
	</ul>
</div>