<div id="wcms-content-wrapper">
	<div class="<%= @page.setting.container_type -%> wcms-full-height-container">
		<%= render :partial => "header", :locals => {:page => @page} -%>
		<%= render :partial => "nav_vertical" if @page.setting.nav_location == 4 -%>
		<div class="col-md-<%= @page.setting.nav_location >= 4 ? '10' : '12' %>" id="wcms-work-area">
			<div class="row">
				<div class="col-md-12 header-zone zone" id="header-row"></div>
			</div>
			<div class="row" id="wcms-navigation-row">
				<div class="col-md-12 navigation-zone" id="wcms-navigation-row-inner">
					<%= render :partial => "nav_horizontal" if @page.setting.nav_location < 4 && !@page.setting.overlap? -%>
				</div>
			</div>
			<%- @page.rows.each_with_index do |row, index| -%>
				<%- unless row.new_record? -%>
					<%= render :partial => "row", :locals => {:index => index, :row => row} -%>
				<%- end -%>
			<%- end -%>
			<div class="row">
				<div class="col-md-12 footer-zone zone" id="footer-row"></div>
			</div>
		</div>
		<%= render :partial => "nav_vertical" if @page.setting.nav_location == 5 -%>
	</div>
</div>