<div id="wcms-content-wrapper">
	<div class="<%= @page.setting.container_type -%> wcms-full-height-container">
		<div class="col-md-12 wcms-cell">
			<div class="card">
				<%- unless @page.setting.image.blank? -%>
					<%= image_tag @page.setting.image_url.to_s, :class => "card-img img-fluid center-block img-#{@page.setting.shape}", :id => "wcms-header-img" -%>
					<div class="card-img-overlay" style="<%= @page.setting.text_color_style -%>">
				<%- else -%>
					<div class="card-block">
				<%- end -%>
					<div style="<%= @page.setting.title_background_style -%>">
						<h1 class="text-xs-center display-4" id="wcms-page-label"><%= @page.label -%></h1>
						<%- unless @page.headline.blank? -%>
							<p class="lead text-xs-center"><%= @page.headline -%></p>
						<%- end -%>
					</div>
				</div>
			</div>
		</div>
		<%= render :partial => "nav_vertical" if @page.setting.nav_location == 4 -%>
		<div class="col-md-<%= @page.setting.nav_location >= 4 ? '10' : '12' %>" id="wcms-work-area">
			<div class="row">
				<div class="col-md-12 header-zone zone" id="header-row"></div>
			</div>
			<div class="row" id="wcms-navigation-row">
				<div class="col-md-12 navigation-zone" id="wcms-navigation-row-inner">
					<%= render :partial => "nav_horizontal" if @page.setting.nav_location < 4 -%>
				</div>
			</div>
			<%- @page.rows.each_with_index do |row, index| -%>
				<%- unless row.new_record? -%>
					<%= render :partial => "row", :locals => {:index => index, :row => row} -%>
				<%- end -%>
			<%- end -%>
			<div class="row">
				<div class="col-md-12 footer-zone zone" id="footer-row"></div>
			</div>
		</div>
		<%= render :partial => "nav_vertical" if @page.setting.nav_location == 5 -%>
	</div>
</div>