<div class="card">
  <div class="card-header"><i class="fa fa-fw fa-image"></i> Header Image</div>
  <div class="card-block">
    <%= form_for [:admin, @page], html: { multipart: true, class: "wcms-card-form" }, :remote => true do |f| %>
      <div class="form-group">
        <label class="file">
          <%= f.file_field :image, :class => "form-control" %>
          <span class="file-custom"></span>
        </label>
      </div>
      <div class="form-group">
        <label for="page_headline" class="sr-only">Caption</label>
        <%= f.text_field :headline, :class => "form-control form-control-sm", :placeholder => "Caption" %>
      </div> 
    	<div class="form-group">
        <label for="cell_headline" class="sr-only">Shape</label>
        <div class="radio">
          <label class="small radio"><%= f.radio_button(:shape, "rounded") %> Rounded Corners (Default)</label> 
          <label class="small radio"><%= f.radio_button(:shape, "squared") %> Squared Corners</label> 
          <label class="small radio"><%= f.radio_button(:shape, "thumbnail") %> White Border</label> 
          <label class="small radio"><%= f.radio_button(:shape, "circle") %> Circle</label>
        </div>
      </div>
	    <div class="form-group">
	      <label for="page_text_color" class="sr-only">Text Color</label>
	      <%= f.text_field :text_color, :class => "form-control form-control-xs", :readonly => true -%>
	      <script>
	        $("#page_text_color").minicolors({opacity: true, format: 'rgb', position: 'top right'});
	      </script>
	    </div>      
      <div class="form-group wcms-card-action-group">
        <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
        <%= link_to "Cancel", "#", class: "btn btn-warning btn-sm wcms-cell-cancel-btn", data: {page: @page.id} -%>
      </div>
    <% end %>
  </div>
</div>