<div class="col-md-<%= width %> wcms-work-cell wcms-cell zone" id="wcms-work-cell-<%= row %>-<%= id %>" data-width="<%= width %>" data-offset="<%= offset %>" data-cell="<%= row %>-<%= id -%>">
	I AM THE TEST ROW. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	<%= render :partial => "cell_tools_top", :locals => {:row => row, :id => id} -%>
	<%= render :partial => "cell_tools_side", :locals => {:side => 'left', :row => row, :id => id} -%>
	<%= render :partial => "cell_tools_side", :locals => {:side => 'right', :row => row, :id => id} -%>
</div>