<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "#", :class => "navbar-brand" do -%>
				<%= image_tag "1kp_brand.png", :size => "20x20", :title => "#{@user.friendly_name}" -%>
			<%- end -%>
			<%= link_to "#", :class => "navbar-brand" do -%>
				<%= @user.friendly_name -%> <%= "| #{@user.domain.name}" unless @user.domain.nil? -%>
			<%- end -%>
		</div>
		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to pages_path, :class => "toggle-drawer-x", :id => "toggle-pages", :data => {:type => "pages"}, :remote => true do -%>
						Pages
					<%- end -%>
				</li>
				<li>
					<%= link_to "#", :class => "toggle-drawer", :id => "toggle-settings", :data => {:type => "settings"} do -%>
						Settings
					<%- end -%>
				</li>
				<li>
					<%= link_to "#", :class => "toggle-drawer", :id => "toggle-assets", :data => {:type => "assets"} do -%>
						Assets
					<%- end -%>
				</li>
				<li>
					<%= link_to "#", :class => "toggle-drawer", :id => "toggle-help", :data => {:type => "help"} do -%>
						Help
					<%- end -%>
				</li>
			</ul>
		</div>
	</div>
</nav>