<div id="wcms-wrapper" class="toolbar-visible">
	<%= render :partial => "pages/drawer_left" -%>
	<%= render :partial => "pages/drawer_right" -%>	
	<div id="wcms-content-wrapper">
		<%= render :partial => 'pages/show' -%>
	</div>
</div>

<div id="wcms-hidden-forms" style="display: none;">
	<%= form_for Row.new, :html => {:id => "wcms-new-row"}, :remote => true do |f| -%>
		<%= f.hidden_field :page_id, :value => @page.id -%>
	<%- end -%>

	<%= form_for Cell.new, :html => {:id => "wcms-new-cell", :class => "form-inline"}, :remote => true do |f| -%>
		<%= hidden_field_tag("adjacent_cell", 0, {:id => "wcms-adjacent-cell"}) %>
		<%= hidden_field_tag("deed", "add", {:id => "wcms-deed"}) %>
		<%= hidden_field_tag("direction", "right", {:id => "wcms-direction"}) %>
	<%- end -%>
</div>

<script class="text/javascript">

	$(document).on('click', ".wcms-master-toolbar-link", function(e) {
		$(".wcms-cell-toolbar-link").removeClass('active');
		$(".wcms-tool-container").hide();
		$(".wcms-work-cell").removeClass("pressed");
	});


	$(document).ready(function() {
		/*$(".quickflip-wrapper").quickFlip();*/
	});

	$(document).on('click', '#wcms-work-area div.wcms-cell', function(e){
		
		var rowId = $(this).attr('data-row');
		var cellId = $(this).attr('data-cell');
		
		if ($(e.target).closest(".wcms-back").length === 0) {
			$.ajax({
				type: 'get',
				dataType: 'script',
				url: '/cells/' + cellId 
			})
		}
		
	});

	$("#wcms-work-area").on('click', 'div.wcms-cell div.wcms-tools', function(e){
		e.stopPropagation();
	});	

	$(document).on("click", ".wcms-cell-toolbar-cells", function(e){
		var dataSide = $(this).attr('data-side');
		var dataAction = $(this).attr('data-action');
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		
		$("#wcms-direction").val(dataSide);
		$("#wcms-deed").val(dataAction);
		$("#wcms-adjacent-cell").val(dataCell);
		$("#wcms-new-cell").submit();
	});

	/*** Activate the CKEDITOR instance for the given cell ***/
	$(document).on("click", ".wcms-cell-text", function(e){
		/*alert(CKEDITOR.version);*/
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		cell = $('#wcms-work-cell-' + dataCell);
		
/*		CKEDITOR.inline( 'wcms-work-cell-' + dataRow + '-' + dataCell, {
			startupFocus: true,
			uiColor: '#ffffff',
			skin: 'flat',
			toolbar: 'main',
			width: '50%'
		});
*/

	});

	$(document).on('click', ".wcms-cell-cancel-btn", function(e) {
		e.preventDefault();
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		$("#wcms-work-cell-" + dataCell).toggleClass('flipped');
		$(".wcms-cell-toolbar-link").removeClass('active');
	});	

	/*** Save the change from CKEDITOR for this cell ***/
	$(document).on('click', ".wcms-save", function (e) {
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		var bodyValue = $("#wcms-editor-" + dataCell).html();
		$("#cell_body_" + dataCell).val(bodyValue);
		$("#edit_cell_" + dataCell).submit();
	});

	/*** Cancel the CKEDITOR instance ***/
	$(document).on('click', ".wcms-cancel", function(e) {
		e.preventDefault();
		$(".wcms-cell-toolbar-link").removeClass('active');
		$(".wcms-work-cell").removeClass('flipped');
		$(".wcms-toolbar").hide();
		$("#wcms-wrapper").removeClass('toolbar-visible').delay(500).queue(function(next) {
			$("#wcms-master-toolbar").show();
			$(".wcms-cell-toolbar-vertical").hide();
			$(this).addClass("toolbar-visible");
			next();
		})

		$(".wcms-cell").removeClass("wcms-cell-active");
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		$("#wcms-toolbar-div-" + dataRow).fadeOut();
		$("#wcms-work-cell-" + dataCell).removeClass("wcms-cell-active");
		/*var editor = CKEDITOR.instances["wcms-work-cell-" + dataRow + "-" + dataCell]
		editor.destroy();
		editor = null;*/
	});

	$("#wcms-add-row").on('click', function(e){
		e.preventDefault();
		$("#wcms-new-row").submit();
	});


	$(document).on("click", ".wcms-cell-toolbar-link", function(e){
		var adjacent_cell = $(this).attr('data-cell');
		$("#wcms-adjacent-cell").val(adjacent_cell);
	});

</script>