<div class="card">
  <h6 class="card-header"><i class="<%= Cell::SETTINGS_ICON -%>"></i> Card Settings</h6>
  <div class="card-block">
    <%= form_for [:admin, @cell], html: { class: "wcms-card-form" }, :remote => true do |f| %>
    	<div class="form-group">
      	<label for="cell_width" class="sr-only">Width</label>
      	<%= f.select :width, options_for_select(Cell::WIDTH, selected: @cell.width), {}, {:class => "form-control form-control-sm"} %>
	      <small class="text-muted">Width of this card; 12 is full width</small>
      </div>
    	<div class="form-group">
      	<label for="cell_offset" class="sr-only">Offset</label>
      	<%= f.select :offset, options_for_select(Cell::OFFSET, selected: @cell.offset), {}, {:class => "form-control form-control-sm"} %>
				<small class="text-muted">Offsets are added to the left</small>
      </div>
    	<div class="form-group">
      	<label for="cell_breakpoint" class="sr-only">Breakpoint</label>
      	<%= f.select :breakpoint, options_for_select(Cell::BREAKPOINTS, selected: @cell.breakpoint), {}, {:class => "form-control form-control-sm"} %>
      	<small class="text-muted">Forces cards to stack vertically on small devices</small>
      </div>
      <div class="form-group">
        <label for="cell_breakpoint" class="sr-only">Variants</label>
        <%= f.select :variant, options_for_select(Cell::VARIANTS, selected: @cell.variant), {}, {:class => "form-control form-control-sm"} %>
        <small class="text-muted">Alternate Card Versions</small>
      </div>
      <div class="form-group">
        <label for="cell_background_color" class="sr-only" for="cell_background_color">Background Color</label>
        <%= f.text_field :background_color, :class => "form-control form-control-xs", :readonly => true -%>
        <script>
          $("#cell_background_color").minicolors({opacity: true, format: 'rgb', position: 'top right'});
        </script>
      </div>
      <%- unless @cell.image.blank? -%>
        <div class="form-group">
          <label for="setting_border" class="sr-only">Overlay Text</label>
          <label class="small checkbox-inline">
            <%= f.check_box(:overlay, {}, 1, 0) %> Overlay Text on Image
          </label>
        </div>      
      <%- end -%>
      <div class="form-group">
        <label for="setting_show_headline" class="sr-only"><%= @cell.image.blank? ? 'Headline' : 'Caption' -%>?</label>
        <label class="small checkbox-inline">
          <%= f.check_box(:show_headline, {}, 1, 0) %> Show <%= @cell.image.blank? ? 'Headline' : 'Caption' -%>
        </label>
      </div>
      <div class="form-group wcms-card-action-group">      	
    		<%= f.submit "Save", class: "btn btn-primary btn-sm wcms-form-btn" %>
    		<%= link_to "Cancel", "#", class: "btn btn-warning btn-sm wcms-cell-cancel-btn wcms-form-btn", data: {row: @row.id, cell: @cell.id} -%>
        <%= link_to "<i class='fa fa-fw fa-trash'></i>".html_safe, admin_cell_path(@cell.id), class: "danger text-danger small wcms-cell-delete", method: :delete, data: {page: @page.id, row: @row.id, cell: @cell.id}, :remote => true -%>
      </div>
    <% end %>
  </div>
</div>