<div class="">
	<%= form_for @setting, :html => {:class => "wcms-sidebar-form"} do |f| -%>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Font</label>
			<%= f.select(:font_id, Font.alpha_collection, {:include_blank => true}, {:class => "form-control form-control-sm"}) %>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Font Weight</label>
			<div class="radio">
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 100 -%> Thin</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 400 -%> Normal</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 700 -%> Heavy</small>
				</label>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_fluid">Layout</label>
			<div class="radio">
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :fluid, true -%> Fluid</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :fluid, false -%> Static</small>
				</label>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_top_nav">Menu Location</label>
			<div class="radio">
				<label class="wcms-white-text">
					<small><%= f.radio_button :top_nav, true -%> Fixed to Top</small>
				</label>
			</div>
			<div class="radio">			
				<label class="wcms-white-text">
					<small><%= f.radio_button :top_nav, false -%> Below Header Image</small>
				</label>
			</div>
		</fieldset>
		<div class="text-xs-center"><button type="submit" class="btn btn-info btn-sm">Save</button></div>
	<%- end -%>
</div>