<div class="">
	<%= form_for @setting, :html => {:class => "wcms-sidebar-form"} do |f| -%>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Font</label>
			<%= f.select(:font_id, Font.alpha_collection, {:include_blank => true}, {:class => "form-control form-control-sm"}) %>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Font Weight</label>
			<div class="radio">
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 100 -%> Thin</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 400 -%> Normal</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :font_weight, 700 -%> Heavy</small>
				</label>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_fluid">Layout</label>
			<div class="radio">
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :fluid, true -%> Fluid</small>
				</label>
				<label class="wcms-white-text radio-inline">
					<small><%= f.radio_button :fluid, false -%> Static</small>
				</label>
			</div>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Navigation Location</label>
			<%= f.select(:nav_location, Setting::NAV_LOCATION, {}, {:class => "form-control form-control-sm"}) %>
		</fieldset>
		<fieldset class="form-group">
			<label class="wcms-white-text" for="setting_font_id">Navigation Color</label>
			<%= f.select(:nav_color, Setting::NAV_COLOR, {}, {:class => "form-control form-control-sm"}) %>
		</fieldset>
			<div class="checkbox">
				<label class="wcms-white-text checkbox-inline">
					<small><%= check_box_tag :sync, 1 -%> Synchronize all pages to these settings</small>
				</label>
			</div>
		<div class="form-group">
			<%= f.submit 'Save', class: 'btn btn-secondary-outline btn-sm' %>
	    <%= link_to "Cancel", settings_path, :title => "Cancel", :id => "cancel-button", :class => "btn btn-warning-outline btn-sm pull-xs-right", :remote => true -%>
		</div>
	<%- end -%>
</div>