<nav id="wcms-primary-navigation" class="navbar <%= @page.setting.nav_weight_class -%> <%= @page.setting.nav_class -%>" style="<%= @page.setting.nav_color_style -%>">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<ul class="nav navbar-nav">
			<%- @owner.published_nav_pages.each do |p| -%>
				<%- if p.published_children.count > 0 -%>
					<li id="wcms-page-<%= p.id %>" class="nav-item dropdown wcms-menu-link">
						<%= link_to p.label.html_safe, public_path(p.permalink_or_id), :class => "nav-link dropdown-toggle", :data => {:toggle => "dropdown"}, :role => "button", "aria-expanded" => "false" -%>
						<div class="dropdown-menu" role="menu">
							<%- p.published_children.each do |c| -%>
								<%= link_to c.label.html_safe, public_path(c.permalink_or_id), :class => "dropdown-item #{'active' if c.id == @page.id}", :id => "wcms-page-#{c.id}", :style => "#{@page.setting.nav_color_style if c.id == @page.id}" -%>
							<%- end -%>
						</div>
					</li>
				<%- else -%>
					<li class="nav-item wcms-menu-link <%= 'active' if p.id == @page.id -%>" id="wcms-page-<%= p.id %>">
						<%= link_to p.label.html_safe, public_path(p.permalink_or_id), :class => "nav-link" -%>
					</li>
				<%- end -%>
			<%- end -%>
		</ul>
	</div>
</nav>