<div class="wcms-tools wcms-tools-vertical wcms-tools-<%= side %>" id="wcms-tool-cell-<%= side %>-<%= cell.id %>" style="display: none;">
	<div class="btn-group-vertical">
		<%= form_for Cell.new, :remote => true do |f| -%>
			<%= hidden_field_tag("adjacent_cell", cell.id) %>
			<%= hidden_field_tag("add", "#{side}") %>
			<%= button_tag "<i class='fa fa-caret-square-o-#{side=='left' ? 'left' : 'right'}'></i>".html_safe, :class => "btn btn-sm btn-link btn-block wcms-grid-size-btn", :title => "Add column to the #{side}" -%>
		<%- end -%>
		<%= form_for Cell.new, :remote => true do |f| -%>
			<%= hidden_field_tag("adjacent_cell", cell.id) %>
			<%= hidden_field_tag("merge", "#{side}") %>
			<%= button_tag "<i class='fa fa-caret-square-o-#{side=='left' ? 'right' : 'left'}'></i>".html_safe, :class => "btn btn-sm btn-link btn-block wcms-grid-size-btn", :title => "Merge column to the #{side} into this one." -%>
		<%- end -%>
		<%#= link_to "-".html_safe, "#", :data => {:change => "remove-#{side}", :row => row.id, :cell => cell.id}, :class => "btn btn-sm btn-link wcms-grid-size-btn", :title => "Remove #{side}-most column" -%>
		<%= link_to "#{side=='left' ? ']-' : '-['}".html_safe, "#", :data => {:change => "remove-#{side}-offset", :row => row.id, :cell => cell.id}, :class => "btn btn-sm btn-link wcms-grid-size-btn", :title => "Remove #{side} offset" -%>
		<%= link_to "#{side=='left' ? ']+' : '+['}".html_safe, "#", :data => {:change => "add-offset-#{side}", :row => row.id, :cell => cell.id}, :class => "btn btn-sm btn-link wcms-grid-size-btn", :title => "Add #{side} offset" -%>
	</div>
</div>