<div class="col-md-<%= cell.width>12 ? 12 : cell.width %> <%= cell.offset>0 ? "col-md-offset-#{cell.offset}" : '' -%> wcms-work-cell wcms-cell zone" id="wcms-work-cell-<%= row.id %>-<%= cell.id %>" 
	data-width="<%= cell.width %>" data-offset="<%= cell.offset %>" data-row="<%= row.id -%>" data-cell="<%= cell.id -%>" data-toggle="popover" contenteditable="true" title="r<%= row.id -%>c<%= cell.id -%>w<%= cell.width %>o<%= cell.offset %>">
	<%- if cell.image.blank? -%>
		<%= cell.body.html_safe -%>
	<%- else -%>
		<%= image_tag cell.image_url.to_s, :class => "img-fluid img-#{cell.shape}" -%>
	<%- end -%>
</div>
<div class="wcms-image-form-cell wcms-cell wcms-cell-active" id="wcms-image-form-cell-<%= row.id %>-<%= cell.id %>" style="display: none;">HELLO</div>
<%= form_for cell, {:class => "form-inline", :remote => true} do |f| -%>	
	<%= f.text_field 'body', :class => 'wcms-hidden-input', :id => "cell_body_#{cell.id}" -%>
<%- end -%>
<script>
	CKEDITOR.disableAutoInline = true;
</script>