<div class="col-md-<%= cell.width>12 ? 12 : cell.width %> <%= cell.offset>0 ? "col-md-offset-#{cell.offset}" : '' -%> wcms-work-cell wcms-cell zone" id="wcms-work-cell-<%= row.id %>-<%= cell.id %>" 
	data-width="<%= cell.width %>" data-offset="<%= cell.offset %>" data-row="<%= row.id -%>" data-cell="<%= cell.id -%>" data-toggle="popover" contenteditable="true" title="r<%= row.id -%>c<%= cell.id -%>w<%= cell.width %>o<%= cell.offset %>">
	<%= cell.body.html_safe -%>
</div>
<%= form_for cell, {:class => "form-inline", :remote => true} do |f| -%>	
	<%= f.text_field 'body', :class => 'wcms-hidden-input', :id => "cell_body_#{cell.id}" -%>
<%- end -%>

<%= render(:partial => 'cells/toolbar_bottom', :locals => {:row => row, :cell => cell}) -%>

<script>
	// We need to turn off the automatic editor creation first.


	/*if(!$("#wcms-toolbar-<%= row.id %>-<%= cell.id %>").length) {*/

	CKEDITOR.disableAutoInline = true;
	$("#wcms-work-cell-<%= row.id %>-<%= cell.id %>").toolbar({
		content: '#toolbar-options-<%= row.id %>-<%= cell.id %>',
		position: 'bottom',
		event: 'click',
		hideOnClick: true,
		style: 'dark',
		animation: 'standard',
		uniqifier: '<%= row.id %>-<%= cell.id %>'
	});
	
</script>