<div class="col-<%= cell.breakpoint %>-<%= cell.width>12 ? 12 : cell.width %> <%= cell.offset>0 ? "col-#{cell.breakpoint}-offset-#{cell.offset}" : '' -%> wcms-work-cell wcms-cell zone <%= 'card' if cell.border? -%>" id="wcms-work-cell-<%= cell.id %>" 
	data-width="<%= cell.width %>" data-offset="<%= cell.offset %>" data-row="<%= row.id -%>" data-cell="<%= cell.id -%>" data-toggle="popover" title="r<%= row.id -%>c<%= cell.id -%>w<%= cell.width %>o<%= cell.offset %>">
	<div class="wcms-flip" id="wcms-flip-<%= cell.id %>">
		<div class="wcms-card" id="wcms-flip-card-<%= cell.id %>">
			<div class="wcms-face wcms-front">
			<%- if cell.empty? -%>
				<%= render :partial => "cells/starter", :locals => {row: row, cell: cell} -%>
			<%- else -%>
				<%- if cell.image.blank? -%>
					<%= cell.body.html_safe -%>
				<%- else -%>
					<%= image_tag cell.image_url.to_s, :class => "img-fluid img-#{cell.shape}" -%>
				<%- end -%>
			<%- end -%>
			</div>
			<div class="wcms-face wcms-back">
				<div class="wcms-form-cell" id="wcms-cell-form-<%= cell.id %>-x"></div>
				<%= form_for cell, {:class => "form-inline", :remote => true} do |f| -%>	
					<%= f.text_field 'body', :class => 'wcms-hidden-input', :id => "cell_body_#{cell.id}" -%>
				<%- end -%>
				<script>
					CKEDITOR.disableAutoInline = true;
				</script>

			</div>
		</div>
	</div>
</div>
