<%- if @user.pages.blank? -%>
	<h3 class="text-center">Hey, your site is empty! Click <%= link_to "Pages", pages_path, :remote => true  -%> in the upper right to get started.</h3>
<%- else -%>
	<h1 class="text-center"><%= @page.label -%></h1>
<%- end -%>
<div class="col-md-12 center-column" id="wcms-work-area">
	<div class="row">
		<div class="col-md-12 header-zone zone" id="header-row"></div>
	</div>
	<div class="row">
		<div class="col-md-12 navigation-zone" id="navigation-row">
			<%= render :partial => "pages/nav" -%>
		</div>
	</div>

	<div class="row" id="wcms-add-row-top">
		<div class="col-md-2 col-md-offset-4">
			<%= form_for @row, :remote => true do |f| -%>
				<%= f.hidden_field :page_id -%>
				<%= button_tag "<i class='fa fa-fw fa-plus'></i> Add Row".html_safe, :class => "btn btn-default btn-xs btn-block" -%>
			<%- end -%>
		</div>
		<div class="col-md-2">
			<%= link_to "<i class='fa fa-fw fa-arrows'></i> Organize".html_safe, rows_sort_path(@page), :class => "btn btn-xs btn-default btn-block", :title => "Organize", :id => "wcms-organize", :remote => true -%>
		</div>
	</div>

	<%- @page.rows.each_with_index do |row, index| -%>
		<%- unless row.new_record? -%>
			<%= render :partial => "pages/row", :locals => {:index => index, :row => row} -%>
		<%- end -%>
	<%- end -%>

	<div class="row">
		<div class="col-md-12 footer-zone zone" id="footer-row"></div>
	</div>

	<%= render :partial => 'cells/new' -%>
</div>

<script type="text/javascript">
	$("#wcms-work-area").on('click', 'div.wcms-cell', function(e){
		var cellId = $(this).attr('data-cell');
		$.ajax({
			type: 'get',
			dataType: 'script',
			url: '/cells/' + cellId 
		})
	});
	$("#wcms-work-area").on('click', 'div.wcms-cell div.wcms-tools', function(e){
		e.stopPropagation();
	});
	$("#wcms-cell").on('click', function(e){
		e.stopPropagation();
	});		

	/*** Submit the new cell form to create a new cell or merge existing cells ***/
	$(".wcms-cell-toolbar-btn").on('click', function(e){
		var dataSide = $(this).attr('data-side');
		var dataAction = $(this).attr('data-action');
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		
		$("#wcms-direction").val(dataSide);
		$("#wcms-deed").val(dataAction);
		$("#wcms-adjacent-cell").val(dataCell);
		$("#new_cell").submit();
	});

	/*** Activate the CKEDITOR instance for the given cell ***/
	$(".wcms-cell-editor-btn").on('click', function (e) {
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		cell = $('#wcms-work-cell-' + dataRow + '-' + dataCell);

		CKEDITOR.inline( 'wcms-work-cell-' + dataRow + '-' + dataCell, {
					startupFocus: true,
					uiColor: '#ffffff',
					toolbar: 'main',
					width: '50%'
				} );
	});

	/*** Save the change from CKEDITOR for this cell ***/
	$(".wcms-save").on('click', function (e) {
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		var bodyValue = $("#wcms-work-cell-" + dataRow + "-" + dataCell).html();
		$("#cell_body_" + dataCell).val(bodyValue);
		$("#edit_cell_" + dataCell).submit();
	});

	/*** Cancel the CKEDITOR instance ***/
	$(".wcms-cancel").on('click', function(e) {
		var dataRow = $(this).attr('data-row');
		var dataCell = $(this).attr('data-cell');
		$("#wcms-toolbar-div-" + dataRow).fadeOut();
		$("#wcms-work-cell-" + dataRow + "-" + dataCell).removeClass("wcms-cell-active");
		var editor = CKEDITOR.instances["wcms-work-cell-" + dataRow + "-" + dataCell]
		editor.destroy();
		editor = null;
	});

	/*** Hide all Cell Toolbars ***/
	$(".wcms-work-cell").on('click', function(e) {
		/*$(".tool-container").fadeOut();*/
	});

/**
	$(".wcms-work-cell").on('click', function(e) {
		var rowId = $(this).attr('data-row');
		var cellId = $(this).attr('data-cell');

		$("#wcms-work-cell-" + rowId + "-" + cellId).toolbar({
			content: '#toolbar-options-' + rowId + "-" + cellId,
			position: 'bottom',
			event: 'click',
			hideOnClick: true,
			style: 'dark',
			animation: 'standard'
		});

	})
**/

</script>




