<%- if @user.pages.blank? -%>
	<h3 class="text-center">Hey, your site is empty! Click <%= link_to "Pages", pages_path, :remote => true  -%> in the upper right to get started.</h3>
<%- else -%>
	<h3 class="text-center"><%= @page.label -%></h3>
<%- end -%>
<div class="col-md-12 center-column" id="work-area">
	<div class="row">
		<div class="col-md-12 header-zone zone" id="header-row"></div>
	</div>
	<div class="row">
		<div class="col-md-12 navigation-zone" id="navigation-row">
			<%= render :partial => "pages/nav" -%>
		</div>
	</div>

	<div class="row" id="wcms-add-row-top">
		<div class="col-md-2 col-md-offset-5">
			<%= form_for @row, :remote => true do |f| -%>
				<%= f.hidden_field :page_id -%>
				<%= f.submit "+ Add Row".html_safe,  :class => "btn btn-default btn-xs btn-block" -%>
			<%- end -%>
		</div>
	</div>

	<%- @page.rows.each_with_index do |row, index| -%>
		<%= render :partial => "pages/row", :locals => {:index => index, :row => row} -%>
	<%- end -%>

	<div class="row">
		<div class="col-md-12 footer-zone zone" id="footer-row"></div>
	</div>
</div>


<script type="text/javascript">
	$("#work-area").on('click', 'div.wcms-cell', function(e){
		var cellId = $(this).attr('data-cell');
		$.ajax({
			type: 'get',
			dataType: 'script',
			url: '/cells/' + cellId + '/edit'
		})
	});
	$("#work-area").on('click', 'div.wcms-cell div.wcms-tools', function(e){
		e.stopPropagation();
	});	
</script>


<script type="text/javascript">
	$(".wcms-work-row").on('click', function(e){
		var rowNumber = $(this).attr('data-row');
		$(".wcms-tools").fadeOut();
		$(".wcms-work-row").removeClass('wcms-work-row-active');
		$(".wcms-tool-row-active").switchClass('wcms-tool-row-active','wcms-tool-row', 250);

		if($("#wcms-tools-" + rowNumber).is(":visible")){

		} else {
			$("#wcms-row-" + rowNumber).addClass('wcms-work-row-active', 250);
			$("#wcms-left-tools-" + rowNumber).show();
			$("#wcms-right-tools-" + rowNumber).show();	
			$("#wcms-tool-row-" + rowNumber).switchClass('wcms-tool-row','wcms-tool-row-active', 250, 'swing', function(e){
				$("#wcms-tools-" + rowNumber).show("slide", {direction: "down"});
			});
		}
	});

	$(".wcms-cancel-btn").on('click', function(e){
		var rowNumber = $(this).attr('data-row');
		$(".wcms-tools").fadeOut();
		$(".wcms-work-row").removeClass('wcms-work-row-active');
		$(".wcms-tool-row-active").switchClass('wcms-tool-row-active','wcms-tool-row', 250);		
	})

	$('.wcms-grid-size-btn').on('click', function(e){
		var changeValue = $(this).attr('data-change');
		var rowId = $(this).attr('data-row');
		var col = $("#wcms-body-col-" + rowId);
		var colWidth = col.attr('data-width');
		var colOffset = col.attr('data-offset');
		/***
		var divClass = 'col-md-12';
		divSize = divClass.replace(/\D/g,'');
		offsetSize = 0
		**/
		newColWidth = colWidth

		if (changeValue == 'add-left') {
			if (colWidth == 12) {
				newColWidth = 6
			}
		} else if (changeValue == 'grow-right') {

		} else if (changeValue == 'shrink-left') {
			if (divSize > 1) {
				divSize = divSize - 1
				offsetSize = 12 - divSize
			}
		
		} else {

		}
		$("#wcms-body-col-" + rowId).removeClass("col-md-" + colWidth).addClass("col-md-" + newColWidth);
		if (changeValue == 'add-left') {
			$("#wcms-row-" + rowId).prepend("<div class='col-md-12 wcms-cell zone' id='wcms-body-col-" + rowId + "' data-width='12' data-offset='0'></div>")

		}


	});	

</script>