<li class="sorted" id="item_<%= page.id %>">
	<div id="list_line_<%= page.id %>">
		<%= link_to "<i id='page-icon-#{page.id}' class='page-icon #{page.icon}'></i> #{page.label} <i class='#{page.status_icon}' title='#{page.status}'></i>".html_safe, page_path(page), :class => "wcms-sidebar-link", :remote => true  -%>
		<%= link_to "<i id='page-icon-#{page.id}' class='fa fa-fw fa-cog' title='Page Settings'></i>".html_safe, edit_page_path(page), :class => "wcms-sidebar-link small", :remote => true  -%>
	</div>
	<%- if page.children.count > 0 -%>
		<ol>
			<%- page.children.each do |subpage| -%>
				<%= render :partial => "pages/page_list_li", :locals => {:page => subpage} -%>
			<%- end -%>
		</ol>
	<%- end -%>	
</li>