<%= render :partial => "pages/toolbar" -%>
<div class="container-fluid full-height-container">
	<div class="row wcms-page-display" id="page-display">
		<%= render :partial => "pages/display" -%>
	</div>


	<div id="wcms-cell-toolbar">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default btn-xs"><i class='fa fa-fw fa-caret-square-o-left'></i></button>


		  <button type="button" class="btn btn-default btn-xs"><i class='fa fa-fw fa-caret-left'></i></button>
			<button type="button" class="btn btn-default btn-xs">Save</button>
			<button type="button" class="btn btn-default btn-xs">Cancel</button>
			<button type="button" class="btn btn-default btn-xs"><i class='fa fa-fw fa-close'></i></button>
		  <button type="button" class="btn btn-default btn-xs"><i class='fa fa-fw fa-caret-right'></i></button>
		  <button type="button" class="btn btn-default btn-xs"><i class='fa fa-fw fa-caret-square-o-right'></i></button>
		</div>
	</div>


			<%= form_for Cell.new, :class => "form-inline", :remote => true do |f| -%>
				<%= hidden_field_tag("adjacent_cell", 82) %>
				<%= hidden_field_tag("add", "left") %>
				<%#= button_tag "<i class='fa fa-caret-square-o-left'></i>".html_safe, :class => "btn btn-xs btn-default", :title => "Add column to the left" -%>
			<%- end -%>

</div>


<%= render :partial => 'pages/footer' -%>