<div id="wcms-master-toolbar" class="wcms-master-toolbar p-t-4">
	<ul class="nav" id="wcms-master-toolbar-vertical">
		<li class="nav-item"><%= link_to "<i class='#{Page::ICON}'></i> Pages".html_safe, pages_path, :title => "Pages", :id => "wcms-toggle-pages", :class => "nav-link sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-gear'></i> Settings".html_safe, settings_path, :title => "Settings", :id => "wcms-toggle-settings", :class => "nav-link sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-archive'></i> Assets".html_safe, assets_path, :title => "Assets", :id => "wcms-toggle-assets", :class => "nav-link sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='#{HelpTopic::ICON}'></i> Help".html_safe, help_index_path, :title => "Help", :class => "nav-link sidebar-link wcms-master-toolbar-link", :remote => true -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-plus'></i> Add Row".html_safe, "#", :class => "nav-link sidebar-link wcms-master-toolbar-link", :title => "Add Row", :id => "wcms-add-row" -%></li>
		<%= render :partial => 'pages/toolbar_vertical_sort', :locals => {:p => @page} -%>
		<%= render :partial => 'pages/toolbar_vertical_finished', :locals => {:p => @page} -%>
		<%= render :partial => 'pages/toolbar_vertical_duplicate', :locals => {:p => @page} -%>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to("<i class='fa fa-fw fa-home'></i> Admin".html_safe, user_path(@user), :class => "nav-link sidebar-link wcms-master-toolbar-link") -%></li>
		<li class="nav-item"><%= link_to("<i class='fa fa-fw fa-user'></i> Account".html_safe, edit_user_path(@user), :remote => true, :class => "nav-link sidebar-link wcms-master-toolbar-link") -%></li>
		<li class="nav-item"><%= link_to("<i class='fa fa-fw fa-sign-out'></i> Logout".html_safe, user_session_path, :method => :delete, :class => "nav-link sidebar-link wcms-master-toolbar-link") -%></li>
	</ul>
</div>