<div class="collapse" id="exCollapsingNavbar">
  <div class="bg-inverse p-a-1">
    <h4>Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
	<%= link_to user_path(@user), :class => "navbar-brand" do -%>
		<%= cms_icon -%> <%= @user.friendly_name -%> <%= "| #{@user.domain.name}" unless @user.domain.nil? -%>
	<%- end -%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>	
	<ul class="nav navbar-nav pull-xs-right">
		<li id="toggle-pages-li" class="nav-item navbar-li-btn">
			<%= link_to "Pages", pages_path, :id => "toggle-pages", :class => "nav-link", :remote => true -%>
		</li>
		<li id="toggle-settings-li" class="nav-item navbar-li-btn">
			<%= link_to "Settings", settings_path, :id => "toggle-settings", :class => "nav-link", :remote => true -%>
		</li>
		<li id="toggle-assets-li" class="nav-item navbar-li-btn">
			<%= link_to "Assets", assets_path, :id => "toggle-assets", :class => "nav-link", :remote => true -%>
		</li>
		<li id="toggle-help-li" class="nav-item navbar-li-btn">
			<%= link_to "Help", help_index_path, :class => "nav-link", :remote => true -%>
		</li>
	</ul>
</nav>
<div style="display: none;">
	<%= form_for @row, :remote => true, :class => "hidden" do |f| -%>
		<%= f.hidden_field :page_id -%>
		<%= button_tag "<i class='fa fa-fw fa-plus'></i> Add Row".html_safe, :class => "nav-link" -%>
	<%- end -%>

	<script class="text/javascript">
		$("#wcms-add-row").on('click', function(e){
			$("#new_row").submit();
		});
	</script>
</div>