<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
	<%= link_to user_path(@user), :class => "navbar-brand" do -%>
		<%= cms_icon -%> <%= @user.friendly_name -%> <%= "| #{@user.domain.name}" unless @user.domain.nil? -%>
	<%- end -%>

	<%- if 1==2 -%>
	<ul class="nav navbar-nav pull-xs-right">
		<li id="wcms-toggle-pages-li" class="nav-item wcms-master-toolbar-link">
			<%= link_to "Pages", pages_path, :id => "wcms-toggle-pages", :class => "nav-link", :remote => true -%>
		</li>
		<li id="wcms-toggle-settings-li" class="nav-item wcms-master-toolbar-link">
			<%= link_to "Settings", settings_path, :id => "wcms-toggle-settings", :class => "nav-link", :remote => true -%>
		</li>
		<li id="wcms-toggle-assets-li" class="nav-item wcms-master-toolbar-link">
			<%= link_to "Assets", assets_path, :id => "wcms-toggle-assets", :class => "nav-link", :remote => true -%>
		</li>
		<li id="wcms-toggle-help-li" class="nav-item wcms-master-toolbar-link">
			<%= link_to "Help", help_index_path, :class => "nav-link", :remote => true -%>
		</li>
	</ul>
	<%- end -%>

  <%= link_to "&#9776;".html_safe, pages_path, :id => "wcms-toggle-pages", :class => "nav-item nav-link navbar-toggler pull-xs-right", :data => {:toggle => "collapse"}, :remote => true -%>

</nav>
<div style="display: none;">
	<%= form_for @row, :remote => true, :class => "hidden" do |f| -%>
		<%= f.hidden_field :page_id -%>
		<%= button_tag "<i class='fa fa-fw fa-plus'></i> Add Row".html_safe, :class => "nav-link" -%>
	<%- end -%>

	<script class="text/javascript">
		$("#wcms-add-row").on('click', function(e){
			$("#new_row").submit();
		});
	</script>
</div>