<%= link_to "<i class='fa fa-fw fa-arrow-left'></i>".html_safe, admin_settings_path, :title => "Close", :class => "wcms-sidebar-link wcms-close-drawer-link left", :remote => true -%>
<h4 class="lead text-center wcms-white-text">
  <i class="<%= User::ICON -%>"></i> User Info
</h4>
<%= form_for [:admin, @user], :html => {class: 'wcms-sidebar-form', role: 'form'}, :remote => true do |f| %>
  <fieldset class="form-group">
    <label for="user_first_name" class="small wcms-white-text">First Name</label>
    <%= f.text_field :first_name, :class => "form-control form-control-xs" -%>
  </fieldset>  
  <fieldset class="form-group">
    <label for="user_last_name" class="small wcms-white-text">Last Name</label>
    <%= f.text_field :last_name, :class => "form-control form-control-xs" -%>
  </fieldset>
  <fieldset class="form-group">
    <label for="user_login" class="small wcms-white-text">Email Address</label>
     <%= f.text_field :login, :class => "form-control form-control-xs" -%>
  </fieldset>
  <fieldset class="form-group">
    <label for="user_password" class="small wcms-white-text">Password</label>
    <%= f.password_field :password, :class => "form-control form-control-xs" -%>
  </fieldset>
  <fieldset class="form-group">
    <label for="user_password_confirmation" class="small wcms-white-text">Confirm Password</label>
    <%= f.password_field :password_confirmation, :class => "form-control form-control-xs" -%>
  </fieldset>
  <fieldset class="form-group wcms-action-group">
		<%= f.submit 'Save Changes', class: 'button secondary' %>
		<%= link_to 'Cancel', admin_settings_path, :title => "Cancel", :class => "button secondary small pull-right", :id => "cancel-button", :remote => true %>
  </fieldset>
<% end %>

