<div id="wcms-wrapper">
	<div id="wcms-content-wrapper">
		<%= render :partial => 'admin/pages/show' -%>
	</div>
	<%= render :partial => "admin/pages/drawer_right" -%>	
</div>
<div id="wcms-hidden-forms" style="display: none;">
	<%= render :partial => "shared/form_row_new", :locals => { page: @page } -%>
	<%= render :partial => "shared/form_cell_new", :locals => { page: @page } -%>
	<%= render :partial => "shared/form_cell_restore", :locals => { page: @page, row: Row.new, cell: Cell.new } -%>
	<%= render :partial => "shared/form_page_restore", :locals => { page: @page } -%>
</div>

