<%= render :partial => "shared/no_nav" if @page.setting.nav_location == 8 -%>
<%= render :partial => "admin/pages/nav_horizontal" if [1,2].include?(@page.setting.nav_location) && !@page.setting.overlap -%>
<%= render :partial => "admin/pages/header", :locals => {:page => @page} -%>
<div class="<%= @page.setting.container_type -%> wcms-master-row">
	<%= render :partial => "admin/pages/nav_vertical", :locals => {:side => 'left'} if @page.setting.nav_location == 6 -%>
	<div class="medium-<%= [6,7].include?(@page.setting.nav_location) ? '10' : '12' %> columns" id="wcms-work-area">
		<div class="<%= @page.setting.container_type -%>" id="wcms-navigation-row">
			<div class="medium-12 navigation-zone" id="wcms-navigation-row-inner">
				<%= render :partial => "admin/pages/nav_horizontal" if [0,3,4].include?(@page.setting.nav_location) && !@page.setting.overlap -%>
			</div>
		</div>
		<%- @page.rows.each_with_index do |row, index| -%>
			<%- unless row.new_record? -%>
				<%= render :partial => "admin/pages/row", :locals => {:index => index, :row => row} -%>
			<%- end -%>
		<%- end -%>
	</div>
	<%= render :partial => "admin/pages/nav_vertical", :locals => {:side => 'right'} if @page.setting.nav_location == 7 -%>
</div>
<%= render :partial => "admin/pages/nav_horizontal" if @page.setting.nav_location == 5 -%>