<div id="wcms-cell-toolbar-vertical-<%= cell.id %>" class="wcms-toolbar-vertical wcms-cell-toolbar-vertical" style="display: none;">
	<ul class="nav">
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-eject fa-rotate-270'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-toolbar-cells", :title => "Add new card to the left", :data => {:side => "left", :action => "add", :row => row.id, :cell => cell.id} -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-eject fa-rotate-90'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-toolbar-cells", :title => "Add new card to the right", :data => {:side => "right", :action => "add", :row => row.id, :cell => cell.id}  -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-caret-square-o-left'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-toolbar-cells", :title => "Merge into card on the left", :data => {:side => "left", :action => "merge", :row => row.id, :cell => cell.id} -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-caret-square-o-right'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-toolbar-cells", :title => "Merge into card on the right", :data => {:side => "right", :action => "merge", :row => row.id, :cell => cell.id} -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-align-left'></i>".html_safe, edit_cell_path(cell, "text"), :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-text", :title => "Add Text", :remote => true, :data => {:row => row.id, :cell => cell.id}  -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-image'></i>".html_safe, edit_cell_path(cell, "image"), :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-image", :title => "Add Image", :remote => true -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-code'></i>".html_safe, edit_cell_path(cell, "code"), :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-code", :title => "Add Code", :remote => true  -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-cogs'></i>".html_safe, edit_cell_path(cell, "settings"), :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cell-settings", :title => "Card Settings", :remote => true  -%></li>
		<li class="nav-item">&nbsp;</li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-floppy-o'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-save", :title => "Save Changes", :data => {:action => "save", :row => row.id, :cell => cell.id} -%></li>
		<li class="nav-item"><%= link_to "<i class='fa fa-fw fa-times'></i>".html_safe, "#", :class => "nav-link wcms-sidebar-link wcms-cell-toolbar-link wcms-cancel", :title => "Cancel", :data => {:action => "cancel", :row => row.id, :cell => cell.id} -%></li>
	</ul>
</div>