$("#wcms-row-<%= @row.id %>").empty();
$("#wcms-row-<%= @row.id %>").append("<div class='wcms-toolbar-div' id='wcms-toolbar-div-<%= @row.id %>' style='display:none;'></div>");
<%- @row.cells.each_with_index do |cell, cell_index| -%>
	/*$("#wcms-toolbar-<%= @row.id %>-<%= cell.id %>").remove();*/
	$("#wcms-cell-toolbar-vertical-<%= @row.id %>-<%= cell.id %>").remove();
	$("#wcms-row-<%= @row.id %>").append("<%= j render(:partial => 'pages/cell', :locals => {:row => @row, :cell => cell, :index => cell_index}) -%>");
	$("#wcms-cell-toolbar-container").append("<%= j render(:partial => 'cells/toolbar_vertical', :locals => {:row => @row, :cell => cell}) -%>");
<%- end -%>
<%- unless @cell.nil? -%>
	$("#wcms-work-cell-<%= @row.id %>-<%= @cell.id %>").delay(500).effect("highlight");
<%- end -%>
$(".wcms-cell-toolbar-vertical").hide("slide", { direction: "right" }, 500);
$("#wcms-master-toolbar").show("slide", { direction: "left" }, 500);
$(".wcms-cell").removeClass("wcms-cell-active");