<div class="wcms-container">
	<%= cms_logo -%>
	<div class="row">
		<div class="large-4 large-offset-4 columns">
				<h1 class="text-center">Welcome</h1>

		  	<div class="callout">
		  		<h4><i class="fa fa-fw fa-user"></i> Sign In</h4>
		  		<hr>
					<%= form_for [:admin, @user], url: user_session_path, method: :post, html: { role: 'form' } do |f| %>  						  
						<label class="show-for-sr" for="user_login">Email</label>
						<%= f.text_field :login, class: 'form-control', placeholder: 'Email Address' %>
						<label class="show-for-sr" for="user_password">Password</label>
						<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
						<%= f.submit 'Sign In'.html_safe, class: 'button' %>
						<%= link_to 'Cancel', root_path, :class => "warning button pull-right" %>
					<% end %>
				</div>
		</div>
	</div>
</div>