<div class="card">
  <div class="card-header"><i class="fa fa-fw fa-image"></i> Upload Image</div>
  <div class="card-block">
    <%= form_for @cell, html: { multipart: true } do |f| %>
    	<label for="cell_image">Image File</label>
      <label for="cell_image" class="file">
      	<%= f.file_field :image, :class => "form-control" %>
      	<span class="file-custom"></span>
      </label>
    	<fieldset class="form-group">
      	<label for="cell_body">Caption</label>
      	<%= f.text_field :body, :class => "form-control form-control-sm" %>
      </fieldset>
    	<div class="radio">
        <label class="radio"><%= f.radio_button(:shape, "rounded") %> Rounded Corners</label> 
        <label class="radio"><%= f.radio_button(:shape, "thumbnail") %> White Border</label> 
        <label class="radio"><%= f.radio_button(:shape, "circle") %> Circle</label> 
      </div>
      <div class="form-group">
      	<%= f.submit "Save", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
