<!DOCTYPE html>
<html lang="en">
	<head>
		<title id="wcms-tab-title">
			<%- if @user.nil? || @user.domain.nil? || @user.domain.label.blank? -%>
				<%= cms_name -%>
			<%- else -%>
				<%= @user.domain.label -%>
			<%- end -%>
			<%- unless @page.nil? -%>
				: <%= @page.title -%>
			<%- end -%>
		</title>
		<%= favicon_link_tag "/favicon.ico" %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
		<%#= cdn_js_bootstrap -%>
		<%#= cdn_jquery_flip -%>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true -%>
		<%#= cdn_css_bootstrap -%>
		<%= cdn_css_font_awesome -%>

		<style>
			.wcms-back .wcms-form-cell {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
			}
		</style>

	  <%= csrf_meta_tags -%>
	</head>
	<%- if @user.new_record? -%>
		<body class="wcms-navbar-fixed-top">
	<%- elsif @user && @page.nil? -%>
		<body class="wcms-flex <%= @user.setting.background_color -%> <%= @user.setting.nav_class(true) -%>">
	<%- else -%>
		<body class="wcms-flex <%= @page.setting.background_class -%> <%= @page.setting.nav_class(true) -%> <%= @page.overlap_style -%>">
	<%- end -%>
		<%- unless @page.nil? -%><%- end -%>
		<%= yield %>
		<%- if 1==2 ### don't need this anymore -%>
			<div id="wcms-full-screen">
				<%= link_to("#", {:class => "wcms-full-screen wcms-sidebar-link"}) do -%>
					<i class="fa fa-exchange fa-fw"></i>
				<%- end -%>
			</div>
		<%- end -%>
		<div id="wcms-custom-font" style="display: none;">
			<%= render(:partial => "admin/pages/font") -%>
		</div>
	</body>
</html>