<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= cms_name -%></title>
		<%= favicon_link_tag "/favicon.ico" %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
		<%#= cdn_js_bootstrap -%>
		<%#= cdn_jquery_flip -%>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true -%>
		<%#= cdn_css_bootstrap -%>
		<%= cdn_css_font_awesome -%>

		<%- if @user && @user.font -%>
			<%= @user.font.link(@user.font_weight).html_safe -%>
			<style>
				.wcms-full-height-container .wcms-cell, .wcms-editor {
					font-family: '<%= @user.font.family -%>', <%= @user.font.serif? ? 'serif' : 'sans serif' -%>  !important;
				}
				.wcms-back .wcms-form-cell {
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
				}
			</style>
		<%- end -%>

	  <%= csrf_meta_tags -%>
	</head>
	<%- if @user.new_record? -%>
		<body class="navbar-fixed-top">
	<%- elsif @user && @page.nil? -%>
		<body class="wcms-flex <%= @user.setting.background_color -%> <%= @user.setting.nav_class -%>">
	<%- else -%>
		<body class="wcms-flex <%= @page.setting.background_class -%> <%= @page.setting.nav_class -%>">
	<%- end -%>
		<%- unless @page.nil? -%><%- end -%>
		<%= yield %>
		<div id="wcms-full-screen">
			<%= link_to("#", {:class => "wcms-full-screen wcms-sidebar-link"}) do -%>
				<i class="fa fa-exchange fa-fw"></i>
			<%- end -%>
		</div>
	</body>
</html>