<div class="col-md-<%= cell.width>12 ? 12 : cell.width %> <%= cell.offset>0 ? "col-md-offset-#{cell.offset}" : '' -%> sort" id="wcms-work-cell-<%= cell.id %>" data-width="<%= cell.width %>" data-offset="<%= cell.offset %>" data-row="<%= row.id -%>" data-cell="<%= cell.id -%>">
	<div class="wcms-cell-sort-border">
		<span class='small text-muted' style="position: absolute;"><%= row.id -%>/<%= cell.id -%></span> <%= cell.body.html_safe -%>
	</div>
</div>