<div id="wcms-wrapper" class="toolbar-visible">
	<%#= render :partial => "admin/pages/drawer_left" -%>
	<div id="wcms-content-wrapper">
		<%= render :partial => 'admin/pages/show' -%>
	</div>
	<%= render :partial => "admin/pages/drawer_right" -%>	
</div>

<div id="wcms-hidden-forms" style="display: none;">
	<%= form_for [:admin, Row.new], :html => {:id => "wcms-new-row"}, :remote => true do |f| -%>
		<%= f.hidden_field :page_id, :value => @page.id -%>
	<%- end -%>

	<%= form_for [:admin, Cell.new], :html => {:id => "wcms-new-cell", :class => "form-inline"}, :remote => true do |f| -%>
		<%= hidden_field_tag("adjacent_cell", 0, {:id => "wcms-adjacent-cell"}) %>
		<%= hidden_field_tag("deed", "add", {:id => "wcms-deed"}) %>
		<%= hidden_field_tag("direction", "right", {:id => "wcms-direction"}) %>
		<%= hidden_field_tag("page_id", @page.id) -%>
	<%- end -%>

	<%= render :partial => "admin/cells/restore_cell_form", :locals => { page: @page, row: Row.new, cell: Cell.new } -%>
</div>

